* {
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}
.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
#quote-box {
    margin: auto;
    padding: auto auto;
}
.card-body {
    text-align: center;
    font-style: italic;
}
.card-header {
    text-align: center;
    font-weight: bold;
}
#new-quote {
    margin: 10px;
}
#tweet-quote {
    background-color: cornflowerblue;
    border: none;
    margin-right: 10px;
}
#tumblr-quote {
    background-color: rgb(2, 62, 131);
    border: none;
}
